{% extends 'Common_Template.html' %}
{% load static %}

{% block body %}

	<div class="container-contact100">
<!--		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div> -->
			<div class="contact100-map" style="background-image: url(../static/images/bg-06.jpg);" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url(../static/images/bg-01.jpg);">
				<span class="contact100-form-title-1">
					Other Family Members Details
				</span>

				<span class="contact100-form-title-2">
					Enter other family members details
				</span>
			</div>

			<form class="contact100-form validate-form" action=""  method="POST">

				{% csrf_token %}

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Full Name:</span>
					<input class="input100" type="text" name="othersname" id="othersnameId" placeholder="full name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Relationship:</span>
					<select class="input100" name="relationship" id="relationshipId" style="padding-top: 10px; border-color: transparent;" required>
                        <option value="" disabled selected hidden>Choose Relation</option> 
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
						 <option value="Wife">Wife</option>
                        <option value="Brother">Brother</option>
                        <option value="Sister">Sister</option>
                        <option value="Grand Father">Grand Father</option>
                        <option value="Grand Mother">Grand Mother</option>
                        <option value="Son">Son</option>
						<option value="Daughter">Daughter</option>
						<option value="Others">Others</option>
                    </select>
                </div>
                
                <div class="wrap-input100 validate-input">
					<span class="label-input100">Blood Group:</span>
                    <select class="input100" name="bloodgroup" id="bloodgroupId" style="padding-top: 10px; border-color: transparent;" required>
                        <option value="" disabled selected hidden>Choose Blood Group...</option> 
                        <option value="A+">A +</option>
                        <option value="A-">A -</option>
                        <option value="B+">B +</option>
                        <option value="B-">B -</option>
                        <option value="O+">O +</option>
                        <option value="O-">O -</option>
                        <option value="AB+">AB +</option>
                        <option value="AB-">AB -</option>
                    </select>
                </div>

                <div class="wrap-input100 validate-input">
					<span class="label-input100">Job / Student:</span>
					<input class="input100" type="text" name="job" id="jobId" placeholder="job name or current education" required>
					<span class="focus-input100"></span>
                </div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Phone:</span>
					<input class="input100" type="text" name="phone" id="phoneId" placeholder="eg : 7095809073" pattern="[0-9]{10}" title="Please Enter Valid Mobile" maxlength="10" required>
					<span class="focus-input100"></span>
                </div>

				<div>
					<div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" type="submit" style="margin-left: 50px;">
                            <span>
                                ADD
                            </span>
                        </button>
                    </div>
                </div>
			</form>
		</div>
	</div>

	{% endblock %}