{% extends 'Common_Template.html' %}
{% load static %}

{% block body %}


	<div class="container-contact100">
<!--		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div> -->
			<div class="contact100-map" style="background-image: url(../static/images/bg-05.jpg);" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url(../static/images/bg-01.jpg);">
				<span class="contact100-form-title-1">
					Fish Farming Details
				</span>

				<span class="contact100-form-title-2">
					Enter fish farming details
				</span>
			</div>

			<form class="contact100-form validate-form" method="POST">

				{% csrf_token %}

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Type:</span>
                    <select class="input100" name="fishtype" id="fishtypeId" style="padding-top: 10px; border-color: transparent;" required>
                        <option value="{{response.Category}}" selected >{{response.Category}}</option> 
                        <option value="redbelly">Red Belly</option>
                        <option value="siloppy">Siloppy</option>
                        <option value="Others">Others</option>
                    </select>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Land:</span>
					<input class="input100" type="number" name="fishland" id="fishlandId" value="{{response.Land_Area}}" min="0" required>
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Method Of Farming:</span>
                    <select class="input100" name="method" id="methodId" style="padding-top: 10px; border-color: transparent;" required>
                        <option value="{{response.Method}}" selected >{{response.Method}}</option> 
                        <option value="pond">കുളം ( Pond )</option>
                        <option value="tank">ടാങ്ക് ( Tank )</option>
                        <option value="tarpaulinfishpond">പടുതാക്കുളം( Tarpaulin Fish Pond )</option>
                        <option value="Others">Others</option>
                    </select>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Income:</span>
					<input class="input100" type="number" name="fishincome" id="fishincomeId" value="{{response.Income}}" required>
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input">
					<span class="label-input100">Marketing:</span>
					<input class="input100" type="text" name="fishmarketing" id="fishmarketingId" value="{{response.Marketing}}" required>
					<span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
					<span class="label-input100">Capacity To Include More:</span>
					<select class="input100" name="fishcapacity" id="fishcapacityId" style="padding-top: 10px; border-color: transparent;" required>
						<option value="{{response.More_Space}}" selected >{{response.More_Space}}</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
					<span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
					<span class="label-input100">Intrest To Include More:</span>
					<select class="input100" name="fishinterest" id="fishinterestId" style="padding-top: 10px; border-color: transparent;" required>
						<option value="{{response.More_Intrest}}" selected >{{response.More_Intrest}}</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
					<span class="focus-input100"></span>
                </div>

				
				<div>
					<div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" type="submit" style="margin-left: 50px;">
                            <span>
                                UPDATE
                            </span>
                        </button>
                    </div>
                </div>
			</form>
		</div>
	</div>


	{% endblock %}