{% extends 'Common_Template.html' %}
{% load static %}

{% block body %}


	<div class="container-contact100">
<!--		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div> -->
			<div class="contact100-map" style="background-image: url(../static/images/bg-04.jpg);" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url(../static/images/bg-01.jpg);">
				<span class="contact100-form-title-1">
					Vegetables And Fruits Details
				</span>

				<span class="contact100-form-title-2">
					Enter your vegetables and Fruits details
				</span>
			</div>

			<form class="contact100-form validate-form" method="POST">

				{% csrf_token %}

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Type:</span>
                    <select class="input100" name="vegtype" id="vegtypeId" style="padding-top: 10px; border-color: transparent;" required>
                        <option value="{{ response.Category }}"selected>{{ response.Category }}</option> 
                        <option value="beans">പയര്‍ ( Beans )</option>
                        <option value="bitterground">പാവല്‍ ( Bitter Ground )</option>
                        <option value="brinjal">വഴുതനങ്ങ ( Brinjal )</option>
                        <option value="snakegourd">പടവലം ( Snake Gourd )</option>
						<option value="greenchilly">പച്ചമുളക് ( Green Chilly )</option>
						<option value="spinach">ചീര ( Spinach )</option>
						<option value="yam">ചേന ( Yam )</option>
						<option value="colocasia">ചേമ്പ് ( Colocasia )</option>
						<option value="bananatree">വാഴ ( Banana Tree )</option>
						<option value="ginger">ഇഞ്ചി ( Ginger )</option>
						<option value="turmeric">മഞ്ഞൾ ( Turmeric )</option>
						<option value="blackpepper">കുരുമുളക് ( Black Pepper )</option>
						<option value="coconut">തേങ്ങ ( Coconut )</option>
                        <option value="others">Others</option>
                    </select>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Area Of Land:</span>
					<input class="input100" type="number" step="any" name="vegland" id="veglandId" value="{{ response.Land_Area }}" min="0" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Income:</span>
					<input class="input100" type="number" step="any" name="vegincome" id="vegincomeId" value="{{ response.Income }}" required>
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 validate-input">
					<span class="label-input100">Marketing:</span>
					<input class="input100" type="text" name="vegmarketing" id="vegmarketingId" value="{{ response.Marketing }}" maxlength="20" required>
					<span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
					<span class="label-input100">Breed Farming:</span>
					<select class="input100" name="vegbreed" id="vegbreedId" style="padding-top: 10px; border-color: transparent;" required>
						<option value="" disabled selected hidden>{{ response.Weed }}</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
					<span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
					<span class="label-input100">Capacity To Include More:</span>
					<select class="input100" name="vegcapacity" id="vegcapacityId" style="padding-top: 10px; border-color: transparent;" required>
						<option value="" disabled selected hidden>{{ response.More_Space }}</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
					<span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
					<span class="label-input100">Intrest To Include More:</span>
					<select class="input100" name="veginterest" id="veginterestId" style="padding-top: 10px; border-color: transparent;" required>
						<option value="" disabled selected hidden>{{ response.More_Intrest }}</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
					<span class="focus-input100"></span>
                </div>

				
				<div>
					<div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" type="submit" style="margin-left: 50px;">
                            <span>
                                UPDATE
                            </span>
                        </button>
                    </div>
                </div>
			</form>
		</div>
	</div>

	{% endblock %}